<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat Da Burger</title>
	</head>

	<body>
		<img src="/image/burger.jpg" width="400px" id="burger-img">

		{{{ body }}}

		<footer class="footer">
			<div class="footer-copyright">
				<div class="container">
					<span class="grey-text text-lighten-4">© 2020 Pierce Rogg</span>
					<a class="grey-text text-lighten-4 right" href="https://github.com/progg1992">GitHub</a>
				</div>
			</div>
		</footer>
	</body>
</html>