* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
text-align: center;
width: 100%;
background-color: #323A40;
color: #ffffff;
position: absolute;
top: 0;
}

.container {
 padding-top: 70px;   
}

#find-city {
background-color: #0078FF;
color: #ffffff;
border: 1px solid #0078FF;
border-radius: 5px;
}

#weather-details {
    border: 1px solid gray;
    height: 400px;
}